@page "/"
@inject IConfiguration config
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment HostEnvironment

<div class="row mt-5">
    <div class="col-lg-12">
        <p class="app-desc text-center">
            For documentation, see the Readme at GitHub.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 mx-auto">
        <a class="btn btn-lg btn-outline-primary w-100" href="https://github.com/dahln/PictureAnalyzer" target="_blank">Go to Github</a>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-3 mx-auto">
        <p class="text-center">
            <a href="https://github.com/dahln/PictureAnalyzer/LICENSE" target="_blank">License &amp; Terms</a>
        </p>
    </div>
</div>

@code {

}

